<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Portfolio</title>{% endblock %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    {% block scripts %}{% endblock %}
    <script src='node_modules/bootstrap/dist/js/bootstrap.min.js' defer></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>